* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 170px;
    background-color: #4d9dfb;
    background-image: url(/img/pattern.png);
}

.logo {
    height: 100%;
    width: 350px;
    padding: 50px 0 0 20px;
}

main {
    margin: 5px;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    margin: 10px 0 10px;
}

.subtitle {
    color: gray;
}

.subtitle span {
    color: #44b7e9;
}

section {
    margin: 20px 0;
}
.highlighted {
    background-color: yellow;
}

.lsit ul {
    padding-left: 20px;
}
